body{
    font-family: Verdana;
    background-color: yellow;
}
h1{color:navy;}
img{width:400px;}

.alert{color:red;}
.form-group{margin: 10px 0;}
.form-group input{width:250px;height: 25px;border-radius:3px;}
.field{font-weight:bold;}
