<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>{% block title %}Заголовок{% endblock title %}</title>
</head>
<body>
    <div><a href="/">Главная</a> | <a href="/">Создание новой заявки</a> | <a href="/">Загрузка статусов задач</a> | <a href="/about">О программе</a></div>
    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content %}{% endblock content %}</div>
    <div>Подвал</div>
</body>
</html>