{% extends "base.html" %}

{% block title %}Создание новой заявки{% endblock title %}
{% block header %}Новая заявка{% endblock header %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      {{ task_form }}
    </table>
    <input type="submit" value="Создать" >
  </form>
{% endblock content %}

  <form method="post">
    {% csrf_token %}
    <p>
      <label>Введите название товара</label><br>
      <input type="text" name="name" />
    </p>
    <p>
      <label>Введите цену</label><br>
      <input type="number" name="price" />
    </p>
    <p>
      <label>Выберите компанию</label><br>
      <select name="company">
        {% for company in companies %}
        <option value="{{company.id}}">{{company.name}}</option>
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="Сохранить" >
  </form>
