{% extends "base.html" %}

{% block title %}В работе{% endblock title %}
{% block header %}Незавершенные задания{% endblock header %}

{% block content %}
    {% if tasks %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Код</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата принятия</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for task in tasks %}
            <tr>
                <td>{{ task.code }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.accept_date }}</td>
                <td>
                    <a href="#">Просмотр</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for p in tasks.paginator.page_range %}
                {% if tasks.number == p %}
                <li class="page-item active" aria-current="page">
                {% else %}
                <li class="page-item">
                {% endif %}
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    {% else %}
        <h3>В базе нет незаконченных заданий!</h3>
    {% endif %}
    <br />
{% endblock content %}
