{% extends "base.html" %}

{% block title %}Просмотр заданий{% endblock title %}
{% block header %}Просмотр задания{% endblock header %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Код задания: </div>{{ task.code }}
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Описание задания: </div>{{ task.description }}
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Дата принятия задания: </div>{{ task.accept_date }}
    </div>
  </li>
  {% if task.approximate_date %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Дата окончания задания: </div>{{ task.approximate_date }}
    </div>
  </li>
  {% endif %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Состояние задания: </div>{{ job_staus }}
    </div>
  </li>
  {% if task.job_status == 1 %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Статус закрытия задания: </div>{{ closing_status }}
    </div>
  </li>
  {% endif %}
  {% if task.job_status < 1 %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-4 me-auto">
      <div class="fw-bold">Состояние выполнение задания: </div>
      {% if is_job %}
      Задание выполняется
      {% else %}
      Задание приостановлено
      {% endif %}
    </div>
  </li>
  {% endif %}
</ul>
<br />
<div class="container bg-light">
  <div class="card-group mx-auto" style="width: 100%;">
    <div class="card">
      <a class="btn btn-outline-danger" href="/edit/task/{{ task.id }}">Редактирование задания</a>
    </div>
    {% if task.job_status < 1 %}
    <div class="card">
      {% if is_job %}
      <a class="btn btn-outline-primary" href="/pause/job/{{ task.id }}">
        Приостановить выполнение задания
      {% else %}
      <a class="btn btn-outline-primary" href="/create/job/{{ task.id }}">
        Возобнавить выполнение задания
        {% endif %}
      </a>
    </div>
    <div class="card">
      <a class="btn btn-outline-secondary" href="#">Закрыть задание</a>
    </div>
    {% endif %}
  </div>
</div>
<br />
{% if parts_task %}
<h3>Прогресс выполнения задания</h3>
<table class="table table-striped">
  <thead><tr>
    <th scope="col">Описание выполнения части задания</th>
    <th scope="col">Начало выполнения части задания</th>
    <th scope="col">Время выполнения части задания</th>
    <th scope="col"></th>
  </tr></thead>
  {% for part in parts_task %}
  <tr>
    <td>{{ part.description }}</td>
    <td>{{ part.frame_date }}</td>
    <td>
      {% if part.frame_time %}
      {{ part.frame_time }}
      {% endif %}
    </td>
    <td>
      <a href="/edit/task/{{ task.id }}/job/{{ part.id }}">Редактирование</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock content %}
